<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-rocket-64-64x64.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>services</title>
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-sXaHigce1o" once="menu" id="menu2-m">
    <% include ./partials/nav %>
</section>

<section class="header6 cid-sXcBrLqNFs" id="header6-o">

    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Our Services</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    We serve millions of customers and many of the world's most prominent corporations, governments, wealthy individuals and institutional investors.
                </p>
                
            </div>
        </div>
    </div>
</section>

<section class="image1 cid-sXcBxeKzgN" id="image1-p">
    

    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/pexels-alesia-kozik-6781273-1076x717.jpg" alt="Mobirise">
                    
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>Real-Time Accurate Signals</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">With Proper Risk Management To Ensure Small Losses And Big Profits.<br><br>Though Forex Is A Volatile Market. Still,<br>We Notify The Certain Setup We Are Looking At.<br>Detail signal, with SL and TP.<br><br>Small SLs Almost Instantly.<br>Time To Time Trail SL To Minimize The Risk.<br><br>And We Always Make Sure To Achieve At Least a 1:2 Risk To Reward Ratio.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image2 cid-sXcBxFviiT" id="image2-q">
    

    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/pexels-alex-knight-2599244-1076x717.jpg" alt="Mobirise">
                    
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5"><strong>Cornix Trading Bots</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">This CORNIX AUTOMATED TRADING SYSTEM gives the accuracy needed for a trade <br>This have been tested in ending of last year during our last financial scheme and it was magnificent.<br>This time, we are extending it to all who wish to benefit from it (though we are working with a stipulated number for efficient management)<br></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image1 cid-sXcIWn4199" id="image1-w">
    

    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img src="assets/images/pexels-tima-miroshnichenko-7567536-1076x1614.jpg" alt="Mobirise">
                    
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                    <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                        <strong>Investments</strong></h3>
                    <p class="mbr-text mbr-fonts-style display-7">
                        We deliver active investment strategies across public and private markets and custom solutions to institutional and individual investors.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer1 cid-sXaHKIlsv3" once="footers" id="footer1-n">
    <% include ./partials/footer %>
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/w" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Mobirise page builder - <a href="https://mobirise.site/p" style="color:#aaa;">Go here</a></p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  
</body>
</html>