<!DOCTYPE html>
<html  >
<head>
  <!-- Site made with Mobirise Website Builder v5.3.0, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.3.0, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/icons8-rocket-64-64x64.png" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Home</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
  
</head>
<body>
  
  <section class="menu menu2 cid-sXaHigce1o" once="menu" id="menu2-0">
    
        
    <% include ./partials/nav %>
</section>

<section class="header6 cid-sXaHiQ5RSm mbr-fullscreen mbr-parallax-background" id="header6-1">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Watch Follow and Profit Together&nbsp;</strong></h1>
                
                <p class="mbr-text mbr-white mbr-fonts-style display-7">
                    trade the market by following he signals given by our expert traders on rocket wallet signals</p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/users/register">Get Started</a></div>
            </div>
        </div>
    </div>
</section>

<section class="features15 cid-sXaHlsS8iu" id="features16-4">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style display-2">
                            <strong>About us</strong></h6>
                        <p class="mbr-text mbr-fonts-style mb-4 display-4">Rocket Wallet signals is a company founded by International team of experts in project management and the financial markets, associated with highly trained staffs in the educational area with the purpose of helping people from all over the world to master the necessary knowledge of trading for success, supported by the most advanced technology and professionals oriented towards the achievement of building your goals and giving you the wonderful life of financial independence.we are a decentralized company that operates transparently.<br><br>They manage capital and investments globally through strategic alliances with the most recognized institutions in the financial markets. The offices and business registers are located in Illinois, USA with professional traders networking in different countries across the world. We work hard to make sure our clients make the best trading and investment decisions.<br><br>Our broad range of services enable you to get the best guidance, advice and resources to build a more profitable future. Our investors are our number one priority, our offices all over the world offer help, advice and guidance when you need it.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="/about">Learn more</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img src="assets/images/2022-02-12-06.38.09-640x640.jpg" alt="Mobirise">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features4 cid-sXaHkGSWqQ" id="features4-3">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Services</strong></h4>
            
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/pexels-alesia-kozik-6781273-696x464.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Real-Time Accurate Signals</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">We Notify The Certain Setup We Are Looking At.<br>Detail signal, with SL and TP.<br>Small SLs Almost Instantly.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/users/register" class="btn item-btn btn-primary-outline display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/pexels-alex-knight-2599244-696x464.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Trading Bots</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">This CORNIX AUTOMATED TRADING SYSTEM gives the accuracy needed for a trade <br>This have been tested in ending of last year during our last financial scheme and it was magnificent.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/users/register" class="btn item-btn btn-primary-outline display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/pexels-karolina-grabowska-4386406-696x1044.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Investments&nbsp;</strong></h5>
                        
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">We took a look at the typical investor journey and knew something had to change. We are creating a fundamental paradigm shift by providing investors access to investments previously available to the top 1%.<br></p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="/users/register" class="btn item-btn btn-secondary-outline display-7" target="_blank">Start Now
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="features1 cid-sXaHklynfP" id="features1-2">
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Why Choose Rocket wallet signal</strong></h3>
                
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-clock mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>We Save Your Time</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">You don’t need to spend hours in front of the charts and the news channels every day. We do that for you while you can spend that time elsewhere. You can enjoy our service and make money while you are on a job or spending time with your family.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-cash mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>We Save Your Money</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Making money consistently in the Forex market takes years of experience which includes losing a lot of money in the process. We trade our expertise to save you from the losses and help you make money from the beginning of your trading journey.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-setting-3 mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>We Do The Hard Work</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">Our team of professional traders scan the markets 24/7. We analyze and decrypt the markets and economies for you. All of us take the same trades. All of us make money!</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <div class="iconfont-wrapper">
                            <span class="mbr-iconfont mobi-mbri-like mobi-mbri"></span>
                        </div>
                        <h5 class="card-title mbr-fonts-style display-7"><strong>Unbeatable Accuracy</strong></h5>
                        <p class="card-text mbr-fonts-style display-7">We hold an accuracy of more than 90% which allows us to have very little drawdown and maximum profits.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features11 cid-sXcG7aEjpJ" id="features12-v">

    
    
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style mb-4 display-2"><strong>Over&nbsp;</strong><div><strong>45,348</strong><strong>+</strong></div><div><strong>Traders Worldwide&nbsp;</strong></div></h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Trust Rocket wallet signals - Now It’s Your Turn</p>
                        <div class="mbr-text mbr-fonts-style counter-container display-7">
                            <ul>
                                <li>Get free Forex, Indices, Commodities, Stocks, Scalping signals.</li>
                                <li>Leverage the 12+ years of trading experience of our traders.</li>
                                <li>Chat 24/7 with our team for any trade assistance.</li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 md-pb">
                <div class="image-wrapper">
                    <img src="assets/images/pexels-tima-miroshnichenko-7567536-1076x1614.jpg" alt="Mobirise">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pricing2 cid-sXaHtXdUiK" id="pricing2-7">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>VIP channel membership</strong></h3>
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>1 Month</strong>
                        </h6><br><br>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$150</strong></p>
                         
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                             <li class="list-group-item">VIP channel membership
                                </li><li class="list-group-item">trading resources
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/login" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>3 Months</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$390</strong></p>
                         
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">VIP channel membership
                                </li><li class="list-group-item">trading resources
                                </li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/login" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>6 Months</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$690 </strong></p>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">VIP channel membership
                                </li><li class="list-group-item">trading resources
                                   </li>
                               </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/login" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-3">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>	
                                12 Months</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$900</strong></p>
                        
                        </div>
                    </div>
                    <div class="plan-body">
                        <ul class="list-group mbr-fonts-style list-group-flush display-7">
                            <li class="list-group-item">VIP channel membership
                            </li><li class="list-group-item">trading resources
                               </li>
                           </ul>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/login" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
</section>


<section class="features5 cid-sXaHyXoLpr" id="features6-8">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5"><strong>&nbsp;Consistent</strong></h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            Consistency is the name of the game. We are a team of disciplined and patient traders and we know what we’re doing. As a result, we’ve always been able to come out profitable, unlike other similar services.</p>
                        <div class="mbr-section-btn">
                           
                        </div>
                    </div>
                    <div class="img-wrapper img1 align-center">
                        <span class="mbr-iconfont mobi-mbri-setting mobi-mbri"></span>
                    </div>
                </div>
            </div>

            <div class="card col-12 col-lg-6">
                <div class="card-wrapper mbr-flex">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style align-left mb-3 display-5"><strong>24/7 Support</strong></h5>
                        <p class="mbr-text mbr-fonts-style mb-3 display-4">
                            You can contact us at any time of the day. Our support agents will get back to you in the shortest period of time. You can message us any time of the day with any of your queries and our support agents will always be there to help.</p>
                        <div class="mbr-section-btn">
                         
                        </div>
                    </div>
                    <div class="img-wrapper img2 align-center">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing2 cid-sXaHtXdUiK" id="pricing2-7">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Investing Plans and strategy</strong></h3>
                
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Bitcoin pool</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$5,000</strong></p>
                         
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                             <li class="list-group-item">100% Returns
                                </li><li class="list-group-item">2X Profits
                                </li><li class="list-group-item">Weekly withdrawal</li>
                            </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/login" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>Etherreum Portfolio</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$10,000 </strong></p>
                            </p>
                        </div>
                    </div>
                    <div class="plan-body">
                        <div class="plan-list mb-4">
                            <ul class="list-group mbr-fonts-style list-group-flush display-7">
                                <li class="list-group-item">150% Returns
                                   </li><li class="list-group-item">2.5X Profits
                                   </li><li class="list-group-item">Weekly withdrawal</li>
                               </ul>
                        </div>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/login" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 align-center col-lg-4">
                <div class="plan">
                    <div class="plan-header">
                        <h6 class="plan-title mbr-fonts-style mb-3 display-5">
                            <strong>	
                                Blockchain ETF</strong>
                        </h6>
                        <div class="plan-price">
                            <p class="price mbr-fonts-style m-0 display-5"><strong>$20,0000</strong></p>
                        
                        </div>
                    </div>
                    <div class="plan-body">
                        <ul class="list-group mbr-fonts-style list-group-flush display-7">
                            <li class="list-group-item">75% Returns
                               </li><li class="list-group-item">1.5X Profits
                               </li><li class="list-group-item">Weekly withdrawal</li>
                           </ul>
                        <div class="mbr-section-btn text-center">
                            <a href="/users/login" class="btn btn-primary display-4">Get started</a>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
    </div>
</section>

<section class="info1 cid-sXcAZ6wYM2" id="info1-l">
    
    
    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mb-4 mbr-fonts-style display-1">
                    <strong>Join our Telegram community .</strong>
                </h3>
                
                <div class="mbr-section-btn"><a class="btn btn-white display-4" href="https://t.me/RocketWalletChannel">Join Channel</a></div>
            </div>
        </div>
    </div>
</section>

<section class="content2 cid-sXaHrL9Gcp" id="content2-6">
    
    
    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Resources and Blogs</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-0 mt-2 display-5">Read the recent blog posts about
                the Forex market</h5>
        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/london.png" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://www.dailyfx.com/forex/fundamental/article/special_report/2021/11/27/trading-the-london-session.html" class="text-primary">Trading the London Session.</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7">
                            <strong>David Bradfield</strong><em>Mar 3, 2022</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">The London trading session accounts for around 35% of total average forex turnover*, the largest amount relative to its peers. The London forex session also overlaps with the New York session throughout the year.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://www.dailyfx.com/forex/fundamental/article/special_report/2021/11/27/trading-the-london-session.html" class="btn item-btn btn-primary display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/euro.jpg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://www.dailyfx.com/forex/fundamental/daily_briefing/session_briefing/euro_open/2022/03/03/Australian-Dollar-Flies-on-Booming-Commodity-Prices.-Will-AUDUSD-Make-New-Highs.html" class="text-primary">Australian Dollar filings</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Daniel McCarthy
                            </strong><em>&nbsp;Mar 3, 2022 </em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Australian Dollar Flies on Booming Commodity Prices. Will AUD/USD Make New Highs?<br>
                        </p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://www.dailyfx.com/forex/fundamental/daily_briefing/session_briefing/euro_open/2022/03/03/Australian-Dollar-Flies-on-Booming-Commodity-Prices.-Will-AUDUSD-Make-New-Highs.html" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/dow.jpeg" alt="" title="">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><a href="https://www.dailyfx.com/forex/technical/article/special_report/2022/03/03/Dow-Jones-SP-500-Forecast-Retail-Traders-Boost-Long-Bets-Despite-Ukraine-Tensions.html" class="text-primary">Dow Jones</a></h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Daniel Dubrovsky
                            </strong><em>Mar 3, 2022</em></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Dow Jones, S&P 500 Forecast: Retail Traders Boost Long Bets Despite Ukraine Tensions.</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="https://www.dailyfx.com/forex/technical/article/special_report/2022/03/03/Dow-Jones-SP-500-Forecast-Retail-Traders-Boost-Long-Bets-Despite-Ukraine-Tensions.html" class="btn btn-primary item-btn display-7" target="_blank">Read More
                            &gt;</a></div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="footer1 cid-sXaHKIlsv3" once="footers" id="footer1-9">

    <% include ./partials/footer %>
    
 
</section><section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: none;"><a href="https://mobirise.site/y" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;">Site was <a href="https://mobirise.site/h" style="color:#aaa;">built with</a> Mobirise</p></section><script src="assets/web/assets/jquery/jquery.min.js"></script>  <script src="assets/popper/popper.min.js"></script>  <script src="assets/tether/tether.min.js"></script>  <script src="assets/bootstrap/js/bootstrap.min.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/dropdown/js/nav-dropdown.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>  <script src="assets/parallax/jarallax.min.js"></script>  <script src="assets/theme/js/script.js"></script>  
<% include ./partials/chat %>
  
</body>
</html>